<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form class="form p-t-20" [formGroup]="profileForm" (ngSubmit)="actualizarPerfil()">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Nombre Usuario"
                                formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Correo Electronico" formControlName="email"
                                [readOnly]="usuario.google">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10"
                        [disabled]="profileForm.invalid">Guardar <i class="fa fa-save"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Avatar</h5>
                <h6 class="card-subtitle">Imagen de Perfil</h6>

                <div class="img-container mb-2">
                    <img *ngIf="!imgTemp" [src]="usuario.ProfilePicture" class="img-avatar">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                </div>

                <input type="file" (change)="actualizarAvatar($event.target.files[0])">

                <br><br>
                <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10"
                    [disabled]="!imgUpload" (click)="uploadImage()">Guardar <i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>
</div>